<div id="slideshow-container" >
    <center><div draggable="true" ondragstart="startdrag(event)" ondrag="dragging(event)" ondragend="enddrag()" title="Изображение">
        <!-- ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true" -->
        <img src="/img/slides/ny.jpg" style="visibility: hidden; display:none" />
        <img src="/img/slides/london.jpg" style="visibility: visible; display:block" />
        <img src="/img/slides/spb.jpg" style="visibility: hidden; display: none" />
        <span class="arrow" id="prevarrow" onclick="prev()">⇚</span> <span class="arrow" id="nextarrow" onclick="next()">⇛</span>
    </div></center>
</div>