<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot - о проекте</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" defer src="../Static/JS/feedback.js"></script>
</head>

<body>
    <header id="header-index" align="center">
        <h1>LifeSpot - о проекте</h1>
        <p>Кто, поком и зачему?</p>
    </header>

    <!--SIDEBAR-->

    <h3>
        Оказывается, мы тут вообще JS-ками балуемся
    </h3>
    А попутно показываем вам трансляции из больших городов!!<br />

    <div class="reviews">
        <div class="review-button">
            <button onClick="GetReview()">Оставить отзыв</button>
        </div>
        <p>Отзывы о работе сайта:</p>
    </div>

    <!--FOOTER-->
</body>

</html>