<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot - о проекте</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" defer src="../Static/JS/feedback.js"></script>
    <script type="text/javascript" defer src="../Static/JS/slideshow.js"></script>
</head>

<body onload="readslideshow()">
    <header id="header-index" align="center">
        <h1>LifeSpot - о проекте</h1>
        <p>Кто, поком и зачему?</p>
    </header>

    <!--SIDEBAR-->
    <h3>
        Оказывается, мы тут вообще JS-ками балуемся
    </h3>
    А попутно показываем вам трансляции из больших городов!!<br />

    <h4 class="slideshow-title">Например:</h4>
    <!--SLIDESHOW-->

    <br />
    <div class="reviews">
        <div class="review-button">
            <button onClick="getReview()">Оставить отзыв/комментарий</button>
        </div>
        <p>Отзывы о работе сайта:</p>
        <p class="review-name"> <b>admin</b> </p> <p class="review-date">2024-07-01 03:00:00</p>
        <div class="review-content">Клевый сайт (сам делал)))</div><br />
        <button id="dislike-1" onclick="rate(-1,this.id)"> 💩 -0 </button>
        <button id="like-1" onclick="rate(+1,this.id)"> 👍 +0 </button>
        <br />
    </div>

    <!--FOOTER-->
</body>

</html>